
nav{
    
    height: 90px;
}
nav div{margin: 0px 40px;}
nav div h2{
    margin: 14px 30px;
    float: left;
    font-size: 16pt;
    width: 400px;
}
nav div img{
    margin: 8px 0px;
    float: left;
    width: 80px;
}
nav div a{
    color: white;
    text-decoration: none;
    float: right;
    padding: 5px 9px;
    margin: 25px 20px;
    background-color: #207246;
    border-radius: 10px;
}

nav div a:hover{
    color: white;
    background-color: rgb(12, 91, 211);
}


section .Head{
    
    padding-left: 450px;
    line-height: 50px;
    background-color: #183287;
    height: 55px;
    color: white;
    font-size: 21pt;
    font-weight: bolder;
}


section div span .Versity_picture{
    margin: 25px 40px;
    width: 700px;
    float: left;
}

section div span .Versity_text{
    width: 350px;
    font-size: 28pt;
    margin: 80px 100px;
    float: left;
}

.Body_section{
    height: 260px;
}

section div .Login{
    border-radius: 10px;
    padding: 5px 9px;
    background-color: #207246;
    color: white;
    text-decoration: none;
    position: absolute;
    margin: 10px -86px;
    top: 450px;
    right:450px;
    font-size: 15pt;
}

section div .Login:hover{
    color: white;
    background-color: rgb(12, 91, 211);
}